.container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.form-container {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	margin-top: 10px;
}

input, button {
	margin-top: 5px;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

button {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}

button:hover {
	background-color: #3e8e41;
}
